# Virtual Environments
venv/
.venv/
env/

# Data Files (Keep large datasets out of GitHub)
*.csv
*.gz
*.pdf

# Model & Evaluation Artifacts
models/*.json
models/*.pkl
results/*.json

# Python Cache
__pycache__/
*.pyc

# IDE & OS Files
.vscode/
.DS_Store